<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
		<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/about" class="navbar-brand">{{appName}}</a>
	</div>

	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-left">
			{% if (req.isAuthenticated()) %}
			<li class="{% if (isActive('/zones')) %}active{% endif %}"><a href="/zones" >Zones</a></li>
			<li class="{% if (isActive('/groups')) %}active{% endif %}"><a href="/groups">Groups</a></li>
			<li class="{% if (isActive('/schedules')) %}active{% endif %}"><a href="/schedules">Schedules</a></li>
			<li class="{% if (isActive('/status')) %}active{% endif %}"><a href="/status">Status</a></li>
			{% endif %}
		</ul>

  		<ul class="nav navbar-nav navbar-right">
		  	{% if (req.isAuthenticated()) %}
		  	<li><a href="{{ '/users/' + req.user.id }}">Profile</a></li>
		  	<li><a href="/logout">Logout</a></li>
		  	{% else %}
		  	<li><a href="/login">Login</a></li>
		  	{% endif %}
		</ul>
	</div>
  </div>
</nav>
