{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ title }}</h1>
{% endblock %}

{% block content %}

<script>
    function swigTemplateData()
    {
        return { zones: {{ zones | raw | json }}
        };
    }
</script>

	{% raw %}
<!-- Angular -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.js"></script>

<script src="javascripts/xeditable.js"></script>

	<!-- Angular controllers -->
	<script src="javascripts/zoneController.js"></script>

	<div ng-app="sprinklerApp">
		<div ng-controller="zoneCtrl">
			<div>
				<p>You have {{zoneList.length}} sprinkler zone{{zoneList.length == 1 ? "" : "s"}}.</p>
			</div>

			<ul>
				<li ng-repeat="zone in zoneList">
					<p>{{$index + 1}}. {{zone.name}}</p>

					<button ng-click="startEdit($index)">Edit</button>
					<button ng-click="delete($index)">Delete</button>

					<div ng-show="zoneList[$index].vis">
						<form name="zoneEdit" ng-submit="endEdit(zoneEdit, $index)">
							<input required type="text" placeholder="{{zoneList[$index].name}}" ng-model="zoneNew.name" />

							<button type="submit" class="btn btn-default">Done</button>
						</form>
					</div>
				</li>
			</ul>

			<button ng-click="startAdd()">Add zone</button>

			<div ng-show="zoneAddVis">
				<form name="zoneAdd" ng-submit="zoneCreate('zoneAdd')">
					<input required type="text" placeholder="Zone {{zoneList.length+1}}" ng-model="zoneNew.name" />

					<button type="submit">Done</button>
				</form>
			</div>

			<br><br>

			<button>Save This Forever</button>
		</div>
	</div>
	{% endraw %}
{% endblock %}
